---
layout: page
---

{{ content }}

SHARPS is a concept for a 3rd-generation VLTI instrument that will be proposed for 
ESO's <a href="https://www.eso.org/sci/meetings/2026/VLT_beyond_2030/whitepaper_call_vltbeyond2030.html">'VLT beyond 2030' call</a>.
It will be the first facility instrument with the following characteristics:<br><br>

<b>Short Wavelengths (YJH-band):</b><br>
Extending the VLTI to shorter wavelengths (YJH-band) will open a new observational window, 
providing complementary spectral diagnostics compared to current VLTI instruments.
This will give access to molecular tracers of exoplanet atmospheres and 
diagnostic lines of accretion and outflow processes, enabling mapping of 
magnetospheric regions, disk winds, and circumplanetary environments 
2around young and forming planets.<br><br>

<b>High Contrast and Sensitivity (up to 10<sub><-7</sub> at 0.03"):</b><br>
Dual-field capability will allow spectroscopy and astrometry of close-in exoplanets,
while reaching high sensitivity by enabling long integration times.
Laser metrology combined with vibration control at the VLTI, will provide 
improved astrometric precision enabling the detection of exomoons, 
searches for intermediate-mass black holes, and resolved microlensing 
studies probing the lower mass gap between neutron stars and black holes.<br><br>

<b>High Spectral Resolution (up to R=30,000):</b><br>
XXXX<br><br>
