---
layout: page
---

{{ content }}

SHARPS is a concept for a short-wavelength, high-spectral resolution instrument that will be proposed for the 'VLT beyond 2030' call.

SHARPS will extend the VLTI to shorter wavelengths opens a new window with diagnostics complementary to current instruments, giving access to molecular tracers of exoplanet atmospheres and lines probing accretion, outflows, 
and circumplanetary environments. Combined with improved vibration control, shorter wavelengths boost astrometric precision for detecting exomoons, 
searching for intermediate-mass black holes, and enabling resolved microlensing to probe the neutron-star/black-hole mass gap. High-contrast dual-field 
capability enables spectroscopy of giant and rocky planets from 0.03 to 1″, including GAIA DR4 and RV targets; polarimetry constrains clouds, hazes, 
surfaces, and stellar spin–orbit alignment. In the extragalactic domain, resolving AGN broad-line regions enables dynamical masses and reverberation 
mapping, in synergy with the ELT to help address the Hubble tension.
