---
layout: page
---

{{ content }}

SHARPS is a concept for a 3rd-generation VLTI instrument that will be proposed for the 'VLT beyond 2030' call.  It will be the first facility instrument with the following characteristics:

### Short Wavelengths:
Extending the VLTI to shorter wavelengths (YJH-band) will open a new observational window, 
providing complementary spectral diagnostics compared to current VLTI instruments.
This will give access to molecular tracers of exoplanet atmospheres and 
diagnostic lines of accretion and outflow processes, enabling mapping of 
magnetospheric regions, disk winds, and circumplanetary environments 
2around young and forming planets.

### High Contrast and Sensitivity:
Dual-field capability will allow spectroscopy and astrometry of close-in exoplanets,
while reaching high sensitivity by enabling long integration times.
Laser metrology combined with vibration control at the VLTI, will provide 
improved astrometric precision enabling the detection of exomoons, 
searches for intermediate-mass black holes, and resolved microlensing 
studies probing the lower mass gap between neutron stars and black holes.

### High Spectral Resolution:
XXXX

XXXX
 SHARPS is a concept for a short-wavelength, high-spectral resolution instrument 
that will be proposed for the 'VLT beyond 2030' call. 
SHARPS will extend the VLTI to shorter wavelengths opens a new window with 
diagnostics complementary to current instruments, giving access to molecular 
tracers of exoplanet atmospheres and lines probing accretion, outflows, and 
circumplanetary environments. Combined with improved vibration control, 
shorter wavelengths boost astrometric precision for detecting exomoons, 
searching for intermediate-mass black holes, and enabling resolved microlensing 
to probe the neutron-star/black-hole mass gap. 
